body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  .data-table{
    th{
      padding: 0.5rem;
      width: 40rem;
      text-align: left;
    }
    td{
      padding: 0.5rem;
      width: 40rem;

    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

